<!DOCTYPE html>
<html lang="en"
<head>
    <meta charser="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <tittle>detail produk</tittle>
    <body>
        <h1>Daftar menu</h1>
        <table class="table berdered">
            <tr>
                <th>Nama produk</th>
                <th>{{ data.namaproduk }}</th>
            </tr>
            <tr>
                <th>{{ Nama kategori</th>
                <th>{{ data.kategori }}</th>
            </tr>
            <tr>
                <th>Harga</th>
                <th>{{ data.harga }}</th>
            </tr>
        </table>
    </body>
</head>
</html>
